.login-container {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

}


.reg-container {
    width: 400px;
    height: auto;
    background-color: #ffffff;
    padding: 25px 30px 30px 15px;
}
@media only screen and (min-width:300px) and (max-width:600px) {
    .reg-container {
        width: 300px
    }
}
@media only screen and (min-width:100px) and (max-width:299px) {
    .reg-container {
        width: 200px
    }
}


.textfield-grid-container {
    padding: 0 !important;
    margin: 0 !important;
}
.textfield-grid {
    padding: 0 !important;
    /* margin-left: -12px !important; */
}

.submitBtn {
    width: 94%;
    margin: 12px !important;
}
@media only screen and (min-width:100px) and (max-width:600px) {
    .submitBtn {
        width: 50%
    }
}

.submitBtn:hover {
    background: rgb(155, 107, 192) !important;
}
.submitBtn:disabled {
    background: rgb(171, 142, 192) !important;
}

.title-style {
    margin-left: 15px !important;
}